*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-family: 'Roboto', sans-serif;
}
section{
    background-color: rgb(18,26,31);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .display{
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    height: 80px;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}
.container .display .display-1{
    margin-bottom: 5px;
    color: rgb(117, 117, 117);
    text-align: right;
    font-size: 1.2rem;
}
.container .display .display-2{
    margin-bottom: 5px;
    color: black;
    text-align: right;
    font-size: 1.5rem;
}
.container .display .temp-result{
    color: rgb(119, 118, 118);
    font-size: 1.2rem;
}

.container .all_buttons{
    color: white;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(80px,auto)repeat(5,80px);
    text-align: center;
    cursor: pointer;
}

.container .all_buttons .btn-0{
    grid-column: span 2;
}
.container .all_buttons div{
    padding: 20px;
    background-color: rgb(31, 51, 63);
    font-size: 1.5rem;
}
.container .all_buttons div:hover{
    background-color:  rgb(43, 71, 89);
}